# David Edwards
## Week 3, Toronto Neighborhood Segmentation and Clustering

In [21]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### I copy/pasted the table into Excel and saved as CSV, then read into dataframe

In [25]:
tn = pd.read_csv('toronto_wikipedia_scrape.csv', names=['PostalCode','Borough', 'Neighborhood'])

### Per assignment, I removed the Not assigned boroughs

In [28]:
# Remove the "Not Assigned" boroughs
tn = tn[tn["Borough"]!="Not assigned"]

### Instructions say, "If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough."  I found no instances where that is true:

In [36]:
tn[tn.Neighborhood==""]

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

### While the instructions stated that there were duplicate postal codes with different neighborhoods, I didn't see that but they did want neighborhoods separated by commas, not slashes, so I did a regex search/replace

In [32]:
# Instructions said that the "/" in neighborthoods should be a comma
tn = tn.replace(to_replace=r' \/ ', value=', ', regex=True)

In [38]:
tn.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [39]:
tn.shape

(103, 3)